
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.header-footer-gradient {
    background: linear-gradient(60deg, teal, blueviolet);
}
.icon-in-button {
    vertical-align: bottom;
    font-size: 18px !important;
}
